:root {
    --light-blue: #6394c9;
    --dark-blue: #356ea9;
    --white: rgb(181, 187, 197);
    --font: 'Ubuntu', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--white);
}