@import url('./base.css');

.freetem__buttons button, .koish__buttons button {
    width: 8vw;
    height: 5vh;   
}

button {
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
}

button:hover{
    border: 1px solid var(--light-blue);
    background-color: var(--dark-blue);
}

.reset-btn {
    width: 12vw;
    height: 5vh;
}