:root {
    --light-blue: #6394c9;
    --dark-blue: #356ea9;
    --background-color: rgb(181, 187, 197);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-color);
}

/* -------------------------------------*/
/* -------------- HEADER  --------------*/
/* -------------------------------------*/

header {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: var(--dark-blue);
}

header h1 {
    margin-left: 20px;
}



/* -------------------------------------*/
/* -------------- SECTION --------------*/
/* -------------------------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:80vh;
}

.counters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width:100vw;
}

.counters h2 {
    margin: 5%;
    font-size: 1.5rem;
}

.counters p {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 5%
}

.koish, .freetem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circleImg {
    width:17vw;
    border-radius: 50%;
    border: 15px solid black
}

/* -------------------------------------*/
/* -------------- BUTTONS --------------*/
/* -------------------------------------*/

.freetem__buttons button, .koish__buttons button {
    width: 8vw;
    height: 5vh;   
}

button {
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
}

button:hover{
    border: 1px solid var(--light-blue);
    background-color: var(--dark-blue);
}

.reset-btn {
    width: 12vw;
    height: 5vh;
}

/* -------------------------------------*/
/* -------------- FOOTER  --------------*/
/* -------------------------------------*/

footer{
    width: 100%;
    background-color: var(--dark-blue);
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
footer p {
    color:#f3f5fc;
    margin-right: 3%;
}
.footer-links :first-child{
    margin-right: 5px;
}


/* -------------------------------------*/
/* -------------- RESPONSIVE -----------*/
/* -------------------------------------*/

@media (max-width: 768px) {
    .counters{
        flex-direction: column;
        justify-content: space-between;
    }

    .freetem__buttons button, .koish__buttons button {
        width: 30vw;
        margin:10px   
    }

    .counters h2 {
        margin: 2%;
    }

    .counters p {
        margin-bottom: 0px;
    }

    .reset-btn {
        width: 50vw;
        height: 6vh;
    }
}